 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1210px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 20px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1108px;
}

.u-section-1 .u-container-layout-1 {
  padding: 16px 9px;
}

.u-section-1 .u-group-1 {
  width: 361px;
  min-height: 904px;
  height: auto;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 288px;
  height: 288px;
  object-position: 50% 76.4%;
  margin: 53px auto 0;
}

.u-section-1 .u-text-1 {
  font-family: Oswald, sans-serif;
  text-transform: none;
  font-size: 2.25rem;
  margin: 41px 21px 0;
}

.u-section-1 .u-text-2 {
  margin: 59px 1px 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 8px 1px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  margin: 21px 1px 0;
}

.u-section-1 .u-group-2 {
  min-height: 58px;
  height: auto;
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-icon-1 {
  width: 40px;
  height: 40px;
  margin: 9px auto 0 29px;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  width: 42px;
  height: 42px;
  margin: -42px auto 0 95px;
  padding: 0;
}

.u-section-1 .u-icon-3 {
  width: 42px;
  height: 42px;
  margin: -42px auto 0 163px;
  padding: 0;
}

.u-section-1 .u-icon-4 {
  width: 42px;
  height: 42px;
  margin: -41px auto 0 230px;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 498px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 11px;
}

.u-section-1 .u-group-3 {
  width: 715px;
  min-height: 423px;
  height: auto;
  margin: 15px 0 0 auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 562px 0 4px;
}

.u-section-1 .u-line-1 {
  width: 711px;
  transform-origin: left center 0px;
  margin: 10px 0 0 auto;
}

.u-section-1 .u-text-6 {
  line-height: 2;
  margin: 18px 41px 0 4px;
}

.u-section-1 .u-text-7 {
  font-size: 0.875rem;
  margin: 25px -28px 0 4px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 610px;
}

.u-section-1 .u-container-layout-6 {
  padding: 25px 0 17px;
}

.u-section-1 .u-group-4 {
  min-height: 304px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 0 0 5px;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 6px 0 0;
}

.u-section-1 .u-text-9 {
  margin: 15px auto 0 0;
}

.u-section-1 .u-text-10 {
  font-size: 0.875rem;
  margin: 9px 19px 0 0;
}

.u-section-1 .u-text-11 {
  margin: 9px auto 0 0;
}

.u-section-1 .u-text-12 {
  font-size: 0.875rem;
  margin: 9px auto 0 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 610px;
}

.u-section-1 .u-container-layout-8 {
  padding: 1px 24px;
}

.u-section-1 .u-group-5 {
  width: 320px;
  min-height: 315px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 0;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 84px 0 0;
}

.u-section-1 .u-text-14 {
  margin: 11px 24px 0 0;
}

.u-section-1 .u-list-icon-3 {
  color: rgb(132, 209, 82) !important;
}

.u-section-1 .u-list-icon-4 {
  color: rgb(132, 209, 82) !important;
}

.u-section-1 .u-list-icon-5 {
  color: rgb(132, 209, 82) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1008px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 758px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 737px;
  }

  .u-section-1 .u-group-1 {
    width: 295px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 74px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 127px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 180px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 331px;
  }

  .u-section-1 .u-group-3 {
    width: 605px;
    height: auto;
  }

  .u-section-1 .u-text-5 {
    margin-right: 456px;
    margin-left: 0;
  }

  .u-section-1 .u-line-1 {
    width: 605px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 40px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 406px;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-top: -6px;
    margin-left: 19px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 406px;
  }

  .u-section-1 .u-group-5 {
    width: 265px;
    height: auto;
  }

  .u-section-1 .u-text-13 {
    margin-right: 29px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3294px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 562px;
    margin-left: 4px;
  }

  .u-section-1 .u-line-1 {
    width: 711px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 4px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 4px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 9px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3944px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 34px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 100px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 190px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 266px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-3 {
    width: 520px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
    margin-right: 391px;
    margin-left: 0;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-12 {
    margin-top: 25px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-13 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2535px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 31px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 97px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 176px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 247px;
  }

  .u-section-1 .u-group-3 {
    width: 320px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 191px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }
}