 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-group-1 {
  width: 361px;
  min-height: 904px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 288px;
  height: 288px;
  object-position: 50% 76.4%;
  margin: 53px auto 0;
}

.u-section-1 .u-text-1 {
  font-family: Oswald, sans-serif;
  text-transform: none;
  font-size: 2.25rem;
  margin: 41px 21px 0;
}

.u-section-1 .u-text-2 {
  margin: 59px 1px 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 8px 1px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  margin: 21px 1px 0;
}

.u-section-1 .u-group-2 {
  min-height: 58px;
  height: auto;
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-icon-1 {
  width: 40px;
  height: 40px;
  margin: 9px auto 0 29px;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  width: 42px;
  height: 42px;
  margin: -42px auto 0 95px;
  padding: 0;
}

.u-section-1 .u-icon-3 {
  width: 42px;
  height: 42px;
  margin: -42px auto 0 163px;
  padding: 0;
}

.u-section-1 .u-icon-4 {
  width: 42px;
  height: 42px;
  margin: -41px auto 0 230px;
  padding: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 792px;
  margin: -385px -66px 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 211px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 258px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 18px auto 0 0;
}

.u-section-1 .u-text-7 {
  font-size: 0.875rem;
  margin: 11px 38px 0 19px;
}

.u-section-1 .u-text-8 {
  margin: 5px auto 0 0;
}

.u-section-1 .u-text-9 {
  font-size: 0.875rem;
  margin: 6px auto 0 19px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 211px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 220px 0 0;
}

.u-section-1 .u-text-11 {
  margin: 19px 167px 0 6px;
}

.u-section-1 .u-list-icon-3 {
  color: rgb(132, 209, 82) !important;
}

.u-section-1 .u-list-icon-4 {
  color: rgb(132, 209, 82) !important;
}

.u-section-1 .u-list-icon-5 {
  color: rgb(132, 209, 82) !important;
}

.u-section-1 .u-group-3 {
  width: 715px;
  min-height: 423px;
  height: auto;
  margin: -682px 11px 60px auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 562px 0 4px;
}

.u-section-1 .u-line-1 {
  width: 711px;
  transform-origin: left center 0px;
  margin: 10px 0 0 auto;
}

.u-section-1 .u-text-13 {
  line-height: 2;
  margin: 19px 41px 0 4px;
}

.u-section-1 .u-text-14 {
  font-size: 0.875rem;
  margin: 24px -28px 0 4px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1032px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: -89px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-text-5 {
    margin-right: 196px;
    margin-left: 19px;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-text-13 {
    margin-right: 40px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 20px;
    margin-left: 1px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 184px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 137px;
    margin-left: 0;
  }

  .u-section-1 .u-group-3 {
    margin-right: 5px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-3 {
    margin-top: 18px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -58px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 87px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 34px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 100px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 190px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 266px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-10 {
    font-size: 1rem;
  }

  .u-section-1 .u-group-3 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    font-size: 1rem;
    margin-right: 391px;
    margin-left: 0;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 11px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 31px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 97px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 176px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 247px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 15px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 191px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }
}